.Unit {
  background-color: #3E3E3E;
  width: 93vw;
  height: 8vh;
  border-radius: 30px;
  display: flex;
  align-items: center;
  margin-right: 2vw;
  margin-bottom: 2vh;
  padding: 0 1vw;
  justify-content: space-between; /* Fixes spacing */
}

.UnitImg {
  width: 2vw;
  height: 4vh;
  margin-left: 1vw;
  margin-top: .5vh;
}

.unit-header {
  display: flex;
  align-items: center;
  gap: 1vw;
  width: 100%;
  justify-content: space-between;
}

.Unit-title {
  direction: rtl;
  text-align: right;
  font-size: 1.2rem;
  font-weight: bold;
  color: #ffffff;
}

.unit-actions {
  display: flex;
  gap: 8px;
}

.action-icon {
  cursor: pointer;
}

.edit-icon {
  color: #2196F3;
}

.delete-icon {
  color: #f44336;
}
.unit-text{
   display: flex;
  gap: 8px;
}
@media (max-width: 768px) {
 .UnitImg {
  width: 6vw;
  height: 4vh;
  margin-top: .5vh;
  margin-right: 2vw;
}
}
@media (max-width: 480px) {
 .UnitImg {
  width: 8vw;
  height: 4vh;
  margin-top: .5vh;
  margin-right: 1.5vw;
}
}