.WhyUsComponent{
    width: 18vw;
    height: 26vh;
    background-color: rgb(34, 32, 32);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
     margin-top: 8vh;
     margin-bottom: 8vh;
}
.WhyUsComponent-img-container{
    width: 3vw;
    height: 6vh;
    border-radius: 8px;
    background-color: rgb(52, 51, 51);
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.WhyUsComponent-img{
    width:40%
}
.WhyUsComponent-Title{
    color: white;
    font-family: var(--font-sora);
    font-size: 19px;
    font-weight: 800;
}
.WhyUsComponent-dis{
    color: white;
    font-family: var(--font-sora);
    font-size: 15px;
    text-align: center;
    font-weight: 300;
}
/* Tablets (up to 1024px) */
@media screen and (max-width: 1024px) {
  .WhyUsComponent {
    width: 40vw;
    height: auto;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  

  .WhyUsComponent-img-container {
    width: 5vw;
    height: 6vh;
  }

  .WhyUsComponent-Title {
    font-size: 17px;
  }

  .WhyUsComponent-dis {
    font-size: 14px;
  }
}

/* Phones (up to 768px) */
@media screen and (max-width: 768px) {
  .WhyUsComponent {
    width: 80vw;
    height: auto;
    padding: 20px 10px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .WhyUsComponent-img-container {
    width: 12vw;
    height: 8vh;
  }

  .WhyUsComponent-img {
    width: 50%;
  }

  .WhyUsComponent-Title {
    font-size: 16px;
    text-align: center;
  }

  .WhyUsComponent-dis {
    font-size: 14px;
    padding: 0 10px;
  }
}
