nav{
    width: 100vw;
    height: 10vh;
    background-color: #252525;
    display: flex;
    gap: 10px;
    align-items: center;
}
.Nav-links{
    color: white;
    font-family: var(--font-sora);
    font-size: 19px;
    font-weight: 200;
    text-align: center;
    margin-left: 10px;
    text-decoration: none;
}